.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-align: center;
}

.benefit {
  /* outline: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 20px;
  padding: 20px;
  height: auto;
  width: 250px;
  min-height: 300px;
  box-sizing: border-box;
}
.benefit h3 {
  margin: 10px;
}
.benefit p {
  word-wrap: break-word;
  margin: 10px 0 0 0;
  line-height: 1.4;
}

.prenota {
  margin: 20px auto;
  padding: 15px 25px;
  width: auto;
  height: auto;
  color: white;
  background-color: black;
  border-radius: 25px;
  text-transform: uppercase;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.prenota:hover {
  background-color: #444;
  transform: scale(1.05); /* efetto zoom*/
}

.img-benefit {
  width: 100px;
  height: 100px;
  margin: 20px;
  margin-bottom: 10px;
  border-radius: 50%;
  background-color: black;
}
.section-benefit {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
  padding: 10px;
}
.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  /* outline: 1px solid black; */
}

.p {
  line-height: 1.6;
}
.toUpperCase {
  text-transform: uppercase;
}

/*
@media screen and (max-width: 576px) {
  .box {
    flex-direction: column;
  }
  .prenota {
    width: 70%;
  }
}
*/
@media screen and (max-width: 576px) {
  .box {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .benefit {
    width: 90%;
    min-height: auto;
    margin: 10px auto;
    padding: 20px;
  }

  .img-benefit {
    width: 70px;
    height: 70px;
    margin: 15px auto;
  }

  .prenota {
    width: 90%;
    font-size: 16px;
    padding: 15px;
  }

  p {
    font-size: 14px;
    line-height: 1.5;
  }
}

::-webkit-scrollbar {
  width: 2px;
  height: 0;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #fcfcfc;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(13, 13, 13, 0.5);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(13, 13, 13, 0.6);
}
