/** 
 * File: chi-siamo.css
 * Description: Stylesheet for the chi-siamo page.
 * Version: 1.0.0
 * 
 * This file contains the styles for the about page.
 * 
 * Author: Puzzle Lab
 * Contributors: Bonura Vincenzo, Lupano Alberto, Picciotto Luca
 * Date: 2024-11-25
 */

 main h1 {
   text-align: center;
   text-transform: uppercase;
}
main h3 {
   text-align: center;
   padding: 1rem 1rem 2rem;
   font-weight: 300;
   margin: 0 auto;
   max-width: 65ch; /* Per una migliore leggibilità */
}
main p {
   font-size: 1.5rem;
   line-height: 2rem;
   padding: 2rem;
   max-width: 65ch; /* Per una migliore leggibilità */
   margin: 0 auto;
}
main > .first-section::before {
   content: '';
   position: absolute;
   inset: 0;
   background-image: url("../images/img-libera/cascinacaccia/mobile/cascina-caccia.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   z-index: -1;
}

main > .first-section {
   position: relative;
   background-color: #00000088;
}

.left-attached, .right-attached {
   display: flex;
   justify-content: center;
   align-items: center;
   background-image: url("../images/chi-siamo/bruno-caccia.jpg");
   background-position: center;
   background-size: cover;
   background-attachment: fixed;
}

.right-attached {
   background-image: url("../images/chi-siamo/cascina.jpg");
}

@media (min-width: 768px) {
   .left-attached {
      border-top-right-radius: 180px;
      border-bottom-right-radius: 180px;
      margin-left: -2rem;
      margin-right: auto;
  }
  
   .right-attached {
      border-top-left-radius: 180px;
      border-bottom-left-radius: 180px;
      margin-right: -2rem;
      margin-left: auto;
  }

   picture {
      width: 90vw;
      height: 24vh;
      overflow: hidden;
   }
  
   picture img {
      width: 100%;
  }
}