/** 
 * File: chi-siamo.css
 * Description: Stylesheet for the chi-siamo page.
 * Version: 1.0.0
 * 
 * This file contains the styles for the about page.
 * 
 * Author: Puzzle Lab
 * Contributors: Bonura Vincenzo, Lupano Alberto, Picciotto Luca
 * Date: 2024-11-25
 */

 main h1 {
   text-align: center;
   text-transform: uppercase;
}
main h3 {
   text-align: center;
   padding: 1rem 1rem 2rem;
   font-weight: 300;
   margin: 0 auto;
   max-width: 65ch; /* Per una migliore leggibilità */
}
main p {
   font-size: 1.5rem;
   line-height: 2rem;
   padding: 2rem;
   max-width: 65ch; /* Per una migliore leggibilità */
   margin: 0 auto;
}
main > .first-section::before {
   content: '';
   position: absolute;
   inset: 0;
   background-image: image-set(
      url(../images/img-libera/cascinacaccia/mobile/cascina-caccia.avif) type('image/avif'), 
      url(../images/img-libera/cascinacaccia/mobile/cascina-caccia.webp) type('image/webp'),
      url(../images/img-libera/cascinacaccia/mobile/cascina-caccia.jpg) type('image/jpeg')
   );
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   z-index: -1;
}

@media (min-width: 768px) {
   main > .first-section::before {
       background-image: image-set(
           url(../images/img-libera/cascinacaccia/tablet/cascina-caccia.avif) type('image/avif'), 
           url(../images/img-libera/cascinacaccia/tablet/cascina-caccia.webp) type('image/webp'),
           url(../images/img-libera/cascinacaccia/tablet/cascina-caccia.jpg) type('image/jpeg')
       ); 
   }
}

@media (min-width: 992px) {
   main > .first-section::before {
      background-image: image-set(
         url(../images/img-libera/cascinacaccia/desktop/cascina-caccia.avif) type('image/avif'), 
         url(../images/img-libera/cascinacaccia/desktop/cascina-caccia.webp) type('image/webp'),
         url(../images/img-libera/cascinacaccia/desktop/cascina-caccia.jpg) type('image/jpeg')
      ); 
   }
}

main > .first-section {
   position: relative;
   background-color: #00000088;
}

picture {
   width: 90vw;
   height: calc(90vw / 2);
   overflow: hidden;
   border-radius: var(--border-radius-big);
   margin: 0 auto;
}

.left-attached, .right-attached {
   display: flex;
   justify-content: center;
   align-items: center;
}

.left-attached {
   background-image: image-set(
      url(../images/img-libera/chi-siamo-immagine-1/mobile/chi-siamo-immagine-1.avif) type('image/avif'), 
      url(../images/img-libera/chi-siamo-immagine-1/mobile/chi-siamo-immagine-1.webp) type('image/webp'),
      url(../images/img-libera/chi-siamo-immagine-1/mobile/chi-siamo-immagine-1.jpg) type('image/jpeg')
   );
   background-position: center;
   background-size: cover;
   background-attachment: fixed;
}

.right-attached {
   background-image: image-set(
      url(../images/img-libera/chi-siamo-immagine-2/mobile/chi-siamo-immagine-2.avif) type('image/avif'), 
      url(../images/img-libera/chi-siamo-immagine-2/mobile/chi-siamo-immagine-2.webp) type('image/webp'),
      url(../images/img-libera/chi-siamo-immagine-2/mobile/chi-siamo-immagine-2.jpg) type('image/jpeg')
   );
   background-position: center;
   background-size: cover;
   background-attachment: fixed;
}

@media (min-width: 768px) {
   .left-attached {
      background-image: image-set(
         url(../images/img-libera/chi-siamo-immagine-1/tablet/chi-siamo-immagine-1.avif) type('image/avif'), 
         url(../images/img-libera/chi-siamo-immagine-1/tablet/chi-siamo-immagine-1.webp) type('image/webp'),
         url(../images/img-libera/chi-siamo-immagine-1/tablet/chi-siamo-immagine-1.jpg) type('image/jpeg')
      );
      border-top-right-radius: 180px;
      border-bottom-right-radius: 180px;
      margin-left: -2rem;
      margin-right: auto;
  }
  
   .right-attached {
      background-image: image-set(
         url(../images/img-libera/chi-siamo-immagine-2/tablet/Chi_Siamo_Immagine2.avif) type('image/avif'), 
         url(../images/img-libera/chi-siamo-immagine-2/tablet/Chi_Siamo_Immagine2.webp) type('image/webp'),
         url(../images/img-libera/chi-siamo-immagine-2/tablet/Chi_Siamo_Immagine2.jpg) type('image/jpeg')
      );
      border-top-left-radius: 180px;
      border-bottom-left-radius: 180px;
      margin-right: -2rem;
      margin-left: auto;
  }

   picture {
      width: 90vw;
      height: 30vh;
      overflow: hidden;
   }
  
   picture img {
      width: 100%;
  }
}

@media (min-width: 992px) {
   .left-attached {
      background-image: image-set(
         url(../images/img-libera/chi-siamo-immagine-1/desktop/chi-siamo-immagine-1.avif) type('image/avif'), 
         url(../images/img-libera/chi-siamo-immagine-1/desktop/chi-siamo-immagine-1.webp) type('image/webp'),
         url(../images/img-libera/chi-siamo-immagine-1/desktop/chi-siamo-immagine-1.jpg) type('image/jpeg')
      );
   }
  
   .right-attached {
      background-image: image-set(
         url(../images/img-libera/chi-siamo-immagine-2/desktop/chi-siamo-immagine-2.avif) type('image/avif'), 
         url(../images/img-libera/chi-siamo-immagine-2/desktop/chi-siamo-immagine-2.webp) type('image/webp'),
         url(../images/img-libera/chi-siamo-immagine-2/desktop/chi-siamo-immagine-2.jpg) type('image/jpeg')
      );
   }
}