/** 
 * File: chi-siamo.css
 * Description: Stylesheet for the chi-siamo page.
 * Version: 1.0.0
 * 
 * This file contains the styles for the about page.
 * 
 * Author: Puzzle Lab
 * Contributors: Bonura Vincenzo, Lupano Alberto, Picciotto Luca
 * Date: 2024-11-25
 */

main h1 {
   text-align: center;
   text-transform: uppercase;
}
main p {
   font-size: 1.5rem;
   line-height: 2rem;
   padding: 2rem;
}
main picture {
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
   border-radius: var(--border-radius-big);
   margin-inline: 2rem;
   aspect-ratio: 4/3;
}
main picture img {
   width: 100%;
   height: auto;
   border-radius: var(--border-radius-big);
   object-fit: cover;
}
