/** 
 * File: contatti.css
 * Description: Stylesheet for the contatti page.
 * Version: 1.0.0
 * 
 * This file contains the styles for the contatti page.
 * 
 * Author: Puzzle Lab
 * Contributors: Bonura Vincenzo, Lupano Alberto, Picciotto Luca
 * Date: 2024-12-06
 */

main h2 {
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
 }
 main p {
    font-size: 1.2rem;
    line-height: 2rem;
    padding: 3rem;
 }
 main .claim {
    font-weight: 700;
    text-transform: uppercase;
    text-wrap: balance;
 }
 fieldset {
    border: none;
    padding: 0;
    padding-block: 3rem;
 }
 .contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5rem;
 }
 .contact-container p {
   font-weight: 700;
   text-wrap: balance;
 }
 .cta-call {
    font-size: 1rem;
    text-decoration: none;
    color: var(--color-dark);
}
.cta-call svg {
   display: inline-block;
   width: 2rem;
   height: 2rem;
   margin-right: 1rem;
   vertical-align: middle;
}