.icon-footer {
	/* height: 1.5rem; */

	line-height: 1.5rem;
	margin: 0 auto;
	width: fit-content;
	padding-left: 2rem;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.social-icons-container {
	display: flex;
	justify-content: space-around;
}