/** 
 * File: index.css
 * Description: Stylesheet for the index page.
 * Version: 1.0.0
 * 
 * This file contains the styles for the index page.
 * 
 * Author: Puzzle Lab
 * Contributors: Bonura Vincenzo, Lupano Alberto, Picciotto Luca
 * Date: 2024-11-25
 */

/* hero section */
#hero > div {
    position: relative;
    height: calc(100vh - var(--navbar-height));
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#hero > div::before {
    content:'';
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0.5;
}

#hero > div {
    background-color: #101021B3;
}

#hero h3 {
    font-size: 2rem;
    margin: 1rem 0;
    line-height: 1.4em;
    max-width: auto;
}

@media (min-width: 768px) {
    #hero h3 {
        font-size: 3rem;
        max-width: 65ch;
    }
}

#hero .star-rating {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

.star-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.5rem;
}

.star-container > img {
    width: 1.5rem;
    height: 1.5rem;
}

.star-container .half-star {
    width: 1.5rem;
    height: 1.5rem;
    clip-path: polygon(0% 0%, 0% 100%, 60% 100%, 60% 0%);
}

#hero .star-rating > span {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--color-dark);
}

/* problema-soluzione section */
#problema-soluzione .problema,
#problema-soluzione .soluzione {
    padding: 2rem;
}

#problema-soluzione ul {
    list-style: none;
    padding: 0;
}

#problema-soluzione ul li {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 1rem 0;
}

#problema-soluzione ul li p {
    width: calc(100% - 5rem);
    margin: 0 0 0 1rem;
}

#problema-soluzione .num-container {
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
    border-radius: 4rem;
    font-size: 3rem;
    color: #fff;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

@media (min-width: 1024px) {
    #problema-soluzione ul {
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }

    #problema-soluzione ul li {
        width: calc(100% / 3);
        flex-direction: column;
        justify-content: center;
    }

    #problema-soluzione ul li p {
        margin: 1rem 0 0;
        text-align: center;
    }

    #problema-soluzione .num-container {
        margin: 0;
    }

    .problema > p,
    .problema > h3,
    .soluzione > p,
    .soluzione > h3 {
        text-align: center;
        margin: 1rem auto;
        max-width: 65ch; /* Per una migliore leggibilità */
    }
}

#problema-soluzione figure {
    width: 80vw;
    height: 360px;
    max-height: 50vw;
    margin: 0;
    overflow: hidden;
    position: relative;
    margin-top: 3rem;
}

#problema-soluzione .left-attached {
    border-top-right-radius: 180px;
    border-bottom-right-radius: 180px;
    margin-left: -2rem;
    margin-right: auto;
}

#problema-soluzione .right-attached {
    border-top-left-radius: 180px;
    border-bottom-left-radius: 180px;
    margin-right: -2rem;
    margin-left: auto;
}

#problema-soluzione figure img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    
}

#problema-soluzione figure figcaption {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--color-dark);
    padding: 0.5rem;
    font-size: 1.5rem;
    font-weight: 600;
}

/* perché noi section */
#perche-noi {
    padding: 2rem;
}

#perche-noi .benefit-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 1024px) {
    #perche-noi .benefit-container {
        flex-direction: row;
        align-items: start;
    }
}

#perche-noi .benefit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    width: 360px;
}

#perche-noi .benefit-icon {
    width: 100px;
    height: 100px;
    background-color: var(--color-dark);
    border-radius: 50%;
    margin-bottom: 1rem;
    position: relative;
}

#perche-noi h3 {
    margin: 1rem 0 0;
}

#perche-noi p {
    margin: 0.5rem 0 0;
}

/* come funziona section */
#come-funziona {
    padding: 2rem;
}

#come-funziona .step-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 3rem;
    margin-inline: -2rem;
}

#come-funziona .right-attached {
    flex-direction: row-reverse;
}

#come-funziona .step-label {
    width: 50vw;
    height: 6rem;
    overflow: hidden;
}

#come-funziona .step-opacity {
    width: 100%;
    height: 100%;
    background-color: var(--color-accent-magenta);
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 4rem;
    font-weight: 700;
    line-height: 6rem;
    padding: 3rem;
    color: var(--color-light);
    opacity: 0.8;
}

#come-funziona .reverse {
    justify-content: start;
}

#come-funziona .left-attached .step-label {
    background-image: url("../images/index/compila-form.png");
    background-size: cover;
}

#come-funziona .right-attached .step-label {
    background-image: url("../images/index/preparati-all-esperienza.png");
    background-size: cover;
}

#come-funziona .right-attached + .left-attached .step-label {
    background-image: url("../images/index/giornata-in-cascina.png");
    background-size: cover;
}

#come-funziona .step-content {
    max-width: 20rem;
    margin: 0 2rem;
}

#come-funziona .right-attached .step-label {
    border-radius: 3rem 0 0 3rem;
}

#come-funziona .left-attached .step-label {
    border-radius: 0 3rem 3rem 0;
    justify-content: flex-end;
}

#come-funziona .right-attached .step-content {
    text-align: right;
}

@media (min-width: 768px) {
    #come-funziona .step-label {
        height: 10rem;
    }
    #come-funziona .right-attached .step-label {
        border-radius: 5rem 0 0 5rem;
    }
    #come-funziona .left-attached .step-label {
        border-radius: 0 5rem 5rem 0;
    }
}

/* testimonianze section */
#testimonianze {
    padding: 2rem;
    overflow: hidden;
}

#testimonial-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-inline: -2rem;
}

#testimonial-container .card {
    width: 18rem;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#testimonial-container figure.card-image {
    margin: 0 0 1rem 0;
    width: 18rem;
}

#testimonial-container figure.card-image picture {
    width: 100px;
    height: 100px;
    position: relative;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}

#testimonial-container figure.card-image picture img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

#testimonial-container figcaption {
    text-align: center;
    font-weight: 600;
    color: var(--color-dark);
    margin-top: 1rem;
}

#testimonial-container figcaption span {
    display: block;
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--color-dark);
}

#testimonial-container.scroll {
    transform: translateX(-18rem);
    transition-duration: 0.3s;
}

/* FAQ section */
#faq {
    padding: 2rem;
}

#faq details {
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid var(--color-dark);
    border-radius: 2rem;
    width: 80vw;
    max-width: 600px;
    margin-inline: auto;
}

#faq details summary {
    font-weight: 600;
    font-size: 1.25rem;
    color: var(--color-dark);
    list-style: none;
    padding-left: 1rem;
    position: relative;
    cursor: pointer;
}

#faq details summary::after {
    content: '';
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    background: url(../images/dropdown-arrow.svg) no-repeat;
    background-size: contain;
    background-position: center;
    transition: 0.2s;
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
}

#faq details[open] > summary::after {
    transform: translateY(-50%) rotate(180deg);
}

#faq > details > p > a {
    color: var(--color-dark);
    text-decoration: underline;
}
/* section cta */
#cta {
    padding: 2rem;
}

.cta-button {
    width: 20rem;
}

video {
    width: 100%;
    height: calc(100vh - var(--navbar-height));
    object-fit: cover; /* Adatta il video al div */
    position: absolute;

}

/*! Mobile */
/* #hero > div::before {
    background-image: image-set(
        url(../images/img-libera/homepage-hero/mobile/homepage-hero.avif) type('image/avif'), 
        url(../images/img-libera/homepage-hero/mobile/homepage-hero.webp) type('image/webp'),
        url(../images/img-libera/homepage-hero/mobile/homepage-hero.jpg) type('image/jpeg') 
    );
} */

/*! Tablet  */
/* @media (min-width: 768px) {
    #hero > div::before {
        background-image: image-set(
            url(../images/img-libera/homepage-hero/tablet/homepage-hero.avif) type('image/avif'), 
            url(../images/img-libera/homepage-hero/tablet/homepage-hero.webp) type('image/webp'),
            url(../images/img-libera/homepage-hero/tablet/homepage-hero.jpg) type('image/jpeg') 
        );
    }
} */

/*! Desktop  */
/* @media (min-width: 992px) {
    #hero > div::before {
        background-image: image-set(
            url(../images/img-libera/homepage-hero/desktop/homepage-hero.avif) type('image/avif'), 
            url(../images/img-libera/homepage-hero/desktop/homepage-hero.webp) type('image/webp'),
            url(../images/img-libera/homepage-hero/desktop/homepage-hero.jpg) type('image/jpeg') 
        );
    }
} */

