/** 
 * File: index.css
 * Description: Stylesheet for the index page.
 * Version: 1.0.0
 * 
 * This file contains the styles for the index page.
 * 
 * Author: Puzzle Lab
 * Contributors: Bonura Vincenzo, Lupano Alberto, Picciotto Luca
 * Date: 2024-11-25
 */

/*XXX DEV: temp-rules, remove on deploy*/
section .container-fluid {
    min-height: 50vh;
    display: grid;
    place-items: center;
}

/*XXX DEV: END temp-rules*/