/** 
 * File: style.css
 * Description: Stylesheet for the service portal frontend.
 * Version: 1.0.0
 * 
 * This file contains the styles for the layout and design of the portal.
 * It includes styles for the main page, forms, and responsive design.
 * 
 * Author: Puzzle Lab
 * Contributors: Bonura Vincenzo, Lupano Alberto, Picciotto Luca
 * Date: 2024-11-25
 */

@import "./utility.css";

/* Global */
*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

/* Header */
header {
    border-bottom: 1px solid var(--color-black);
    padding: 3rem;
    transition: padding 0.3s ease-in-out;
}
header.header-scroll {
    padding-block: 1rem;
}

/* Main */

/* Footer */
footer {
    border-top: 1px solid var(--color-light);
}

.logo-footer {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}
.footer-nav {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}
.footer-nav a {
    display: block;
    text-decoration: none;
    font-size: 1.25rem;
    text-align: center;
}
.copyright {
    font-size: 0.875rem;
    text-align: center;
}

/*XXX DEV: temp-rules, remove on deploy*/
section .container-fluid {
    min-height: 50vh;
    display: grid;
    place-items: center;
}

/*XXX DEV: END temp-rules*/