:root {
    --color-primary: #007bff;
    --color-secondary: #757575;
    --color-tertiary: #b3b3b3;
    --color-success: #28a745;
    --color-warning: #ffc107;
    --color-danger: #dc3545;
    --color-info: #17a2b8;
    --color-light: #f8f9fa;
    --color-dark: #252525;
    --color-white: #fff;
    --color-transparent: transparent;
    --color-black: #000;
    --container-max-width: 100%;
    --container-padding-x: 1rem;
}

/* Colori di sfondo */
.bg-primary {background-color: var(--color-primary);}
.bg-secondary {background-color: var(--color-secondary);}
.bg-tertiary {background-color: var(--color-tertiary);}
.bg-success {background-color: var(--color-success);}
.bg-warning {background-color: var(--color-warning);}
.bg-danger {background-color: var(--color-danger);}
.bg-info {background-color: var(--color-info);}
.bg-light {background-color: var(--color-light);}
.bg-dark {background-color: var(--color-dark);}
.bg-white {background-color: var(--color-white);}
.bg-transparent {background-color: var(--color-transparent);}
.bg-black {background-color: var(--color-black);}

/* Colori di sfondo subtle */
.bg-primary-subtle {background-color: hsl(from var(--color-primary) h 100% 75%);}
.bg-secondary-subtle {background-color: hsl(from var(--color-secondary) h 100% 75%);}
.bg-tertiary-subtle {background-color: hsl(from var(--color-tertiary) h 100% 75%);}
.bg-success-subtle {background-color: hsl(from var(--color-success) h 100% 75%);}
.bg-warning-subtle {background-color: hsl(from var(--color-warning) h 100% 75%);}
.bg-danger-subtle {background-color: hsl(from var(--color-danger) h 100% 75%);}
.bg-info-subtle {background-color: hsl(from var(--color-info) h 100% 75%);}
.bg-light-subtle {background-color: hsl(from var(--color-light) h 50% 75%);}

/* Colori del testo */
.text-primary {color: var(--color-primary);}
.text-secondary {color: var(--color-secondary);}
.text-tertiary {color: var(--color-tertiary);}
.text-success {color: var(--color-success);}
.text-warning {color: var(--color-warning);}
.text-danger {color: var(--color-danger);}
.text-info {color: var(--color-info);}
.text-light {color: var(--color-light);}
.text-dark {color: var(--color-dark);}
.text-white {color: var(--color-white);}
.text-transparent {color: var(--color-transparent);}
.text-black {color: var(--color-black);}

/* Testo */
.text-center {text-align: center;}
.text-right {text-align: right;}
.text-uppercase {text-transform: uppercase;}

/* Margini */
.m-0 {margin: 0;}
.m-1 {margin: 0.25rem;}
.m-2 {margin: 0.5rem;}
.m-3 {margin: 1rem;}
.m-4 {margin: 1.5rem;}
.m-5 {margin: 3rem;}

.mt-0 {margin-top: 0;}
.mt-1 {margin-top: 0.25rem;}
.mt-2 {margin-top: 0.5rem;}
.mt-3 {margin-top: 1rem;}
.mt-4 {margin-top: 1.5rem;}
.mt-5 {margin-top: 3rem;}

.mb-0 {margin-bottom: 0;}
.mb-1 {margin-bottom: 0.25rem;}
.mb-2 {margin-bottom: 0.5rem;}
.mb-3 {margin-bottom: 1rem;}
.mb-4 {margin-bottom: 1.5rem;}
.mb-5 {margin-bottom: 3rem;}

.my-0 {margin-top: 0; margin-bottom: 0;}
.my-1 {margin-top: 0.25rem; margin-bottom: 0.25rem;}
.my-2 {margin-top: 0.5rem; margin-bottom: 0.5rem;}
.my-3 {margin-top: 1rem; margin-bottom: 1rem;}
.my-4 {margin-top: 1.5rem; margin-bottom: 1.5rem;}
.my-5 {margin-top: 3rem; margin-bottom: 3rem;}

.ml-0 {margin-left: 0;}
.ml-1 {margin-left: 0.25rem;}
.ml-2 {margin-left: 0.5rem;}
.ml-3 {margin-left: 1rem;}
.ml-4 {margin-left: 1.5rem;}
.ml-5 {margin-left: 3rem;}

.mr-0 {margin-right: 0;}
.mr-1 {margin-right: 0.25rem;}
.mr-2 {margin-right: 0.5rem;}
.mr-3 {margin-right: 1rem;}
.mr-4 {margin-right: 1.5rem;}
.mr-5 {margin-right: 3rem;}

.mx-0 {margin-left: 0; margin-right: 0;}
.mx-1 {margin-left: 0.25rem; margin-right: 0.25rem;}
.mx-2 {margin-left: 0.5rem; margin-right: 0.5rem;}
.mx-3 {margin-left: 1rem; margin-right: 1rem;}
.mx-4 {margin-left: 1.5rem; margin-right: 1.5rem;}
.mx-5 {margin-left: 3rem; margin-right: 3rem;}

/* Padding */
.p-1 {padding: 0.25rem;}
.p-2 {padding: 0.5rem;}
.p-3 {padding: 1rem;}
.p-4 {padding: 1.5rem;}
.p-5 {padding: 3rem;}

.pt-0 {padding-top: 0;}
.pt-1 {padding-top: 0.25rem;}
.pt-2 {padding-top: 0.5rem;}
.pt-3 {padding-top: 1rem;}
.pt-4 {padding-top: 1.5rem;}
.pt-5 {padding-top: 3rem;}

.pb-0 {padding-bottom: 0;}
.pb-1 {padding-bottom: 0.25rem;}
.pb-2 {padding-bottom: 0.5rem;}
.pb-3 {padding-bottom: 1rem;}
.pb-4 {padding-bottom: 1.5rem;}
.pb-5 {padding-bottom: 3rem;}

.py-0 {padding-top: 0; padding-bottom: 0;}
.py-1 {padding-top: 0.25rem; padding-bottom: 0.25rem;}
.py-2 {padding-top: 0.5rem; padding-bottom: 0.5rem;}
.py-3 {padding-top: 1rem; padding-bottom: 1rem;}
.py-4 {padding-top: 1.5rem; padding-bottom: 1.5rem;}
.py-5 {padding-top: 3rem; padding-bottom: 3rem;}

.pl-0 {padding-left: 0;}
.pl-1 {padding-left: 0.25rem;}
.pl-2 {padding-left: 0.5rem;}
.pl-3 {padding-left: 1rem;}
.pl-4 {padding-left: 1.5rem;}
.pl-5 {padding-left: 3rem;}

.pr-0 {padding-right: 0;}
.pr-1 {padding-right: 0.25rem;}
.pr-2 {padding-right: 0.5rem;}
.pr-3 {padding-right: 1rem;}
.pr-4 {padding-right: 1.5rem;}
.pr-5 {padding-right: 3rem;}

.px-0 {padding-left: 0; padding-right: 0;}
.px-1 {padding-left: 0.25rem; padding-right: 0.25rem;}
.px-2 {padding-left: 0.5rem; padding-right: 0.5rem;}
.px-3 {padding-left: 1rem; padding-right: 1rem;}
.px-4 {padding-left: 1.5rem; padding-right: 1.5rem;}
.px-5 {padding-left: 3rem; padding-right: 3rem;}

/* height */
.h-100 {height: 100%;}

/* Position */
.fixed-top {position: fixed; top: 0; width: 100%; z-index: 1030;}

/* Container */
.container {
    width: 100%;
    padding-right: var(--container-padding-x);
    padding-left: var(--container-padding-x);
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container { max-width: 540px; }
}

@media (min-width: 768px) {
    .container { max-width: 720px; }
}

@media (min-width: 992px) {
    .container { max-width: 960px; }
}

@media (min-width: 1200px) {
    .container { max-width: 1140px; }
}

@media (min-width: 1400px) {
    .container { max-width: 1320px; }
}

.container-fluid {
    width: 100%;
    padding-right: var(--container-padding-x);
    padding-left: var(--container-padding-x);
    margin-right: auto;
    margin-left: auto;
}